<% provide(:jumbotron, '
     
      <div class="row text-center">
     
<img class ="img-responsive center-block" src="assets/home_banner.jpg">

</div></br>
      <p>According to Samosapedia, Jugaad means - A tribute to native genius, and lateral thinking. It means where there\'s a will, there\'s a way. In a sense, it means innovation the frugal way. But, as a paradigm we have forgotten something that was integrated in our DNA, we have lost the essence of jugaad, the essence of innovation in terms of how we do business.
		
      
      </p>   
  '.html_safe)%>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4">
       
     </div>
      <div class="col-md-4">
        
        <p>
  
</p>
        
      </div>
    </div>
    </div>