<% provide(:title, 'Home') %>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ask Business problems that you as a Corporation, Organization, Government official or an individual is facing. Help solve challenging real world problems that other people face">
    <meta name="author" content="mecyborg">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Ideabata</title>

    <!-- Bootstrap core CSS -->
    
    
  
    
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    <script src="assets/javascripts/jquery.min.js"></script>
    <script src="assets/javascripts/smoothscroll.js"></script>
    <script src="assets/javascripts/alphabet.js"></script>

    <script type="text/javascript">
   
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = 'b46fc76bd8efcaf7ebbf945ff6f3d8a9';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

  </head>

  


  <section id="home" name="home"></section>
  <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
          <h1> Ideabata</h1>
          
          <br>
          </div>
          
          <div class="col-lg-2">
            <h5>What is Ideabata?</h5>
            <p>This short yet cool video will show you.</p>
            <img class="hidden-xs hidden-sm hidden-md" src="assets/arrow1.png">
          </div>
          <div class="col-lg-8">
            <!--<img class="img-responsive" src="assets/img/app-bg.png" alt="">-->
            <iframe width="750" height="360" src="https://www.youtube.com/embed/pImgq0E6BsY?rel=0;3&amp;autohide=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-2">
            <br><br><br><br><br><br><br>
            
            <h5>Now what?</h5>
            <p>Let's scroll down and see what's in it for YOU.</p>

          </div>
        </div>
<br/><br/>
      </div> <!--/ .container -->
  </div><!--/ #headerwrap -->

  <section id="desc" name="desc"></section>
  <!-- INTRO WRAP -->
  <div id="intro">
    <div class="container">
      <div class="row centered">
        <h1>Tell me How it Works</h1>
        <br>
        <br>
        <div class="col-lg-4">
          <img src="assets/intro01.png" alt="">
          <h2>Ask</h2>
          <p style="font-size: 18px"> Ask Business problems that you as a Corporation, Organization, Government official or an individual is facing!</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/intro02.png" alt="">
          <h2>Solve</h2>
          <p style="font-size: 18px">Help solve challenging real world problems that other people face!</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/intro03.png" alt="">
          <h2>Earn !</h2>
          <p style="font-size: 18px">Earn fabulous goodies and rewards, while providing a solution.</p>
        </div>
      </div>
      <br>
      <hr>
      </div> <!--/ .container -->
  </div><!--/ #introwrap -->
  
  <!-- FEATURES WRAP -->
  <div id="features">
    <div class="container">
      <div class="row">
        <h1 class="centered">Other ways to use Ideabata?</h1>
        <br>
        <br>
        <div class="col-lg-6 centered">
          <img class="centered" src="assets/use.png" alt="">
        </div>
        
        <div class="col-lg-6">
        <!-- ACCORDION -->
        <br><br>
                <div class="accordion ac" id="accordion2">
                    <div class="accordion-group">
                        <div style="font-size: 25px" class="accordion-heading">
                            
                            <b>Collaborate</b> 
                            
                        </div><!-- /accordion-heading -->
                        
                            <div style="font-size: 22px" class="accordion-inner">
                <p>A tool to "<i>brain write</i>" amazing ideas within a corporation, employees can collaborate on ideabata and can discuss on ways to enhance innovation within and outside the corporation.</p>
                </div><!-- /accordion-inner -->
                        <!-- /collapse -->
                    </div><!-- /accordion-group -->
                    <br>
    
                    <div class="accordion-group">
                        <div style="font-size: 25px" class="accordion-heading">
                            
                            <b>Hire</b>
                            
                        </div><!-- /accordion-heading -->
                        
                            <div style="font-size: 22px" class="accordion-inner">
                <p>A hiring tool for consultancies, here firms can conduct case study competitions and can select skill-full candidates from the lot! </p>
                </div><!-- /accordion-inner -->
                        <!-- /collapse -->
                    </div><!-- /accordion-group -->
                    <br>      
          </div><!-- Accordion -->
        </div>
      </div>
    </div><!--/ .container -->
  </div><!--/ #features -->
  
  
  <section id="showcase" name="showcase"></section>
  <div id="showcase">
    <div class="container">
      
        <h1 class="centered">About</h1>
        
        <p style="font-size: 22px" class="centered"> According to <i>Samosapedia</i>, <b>Jugaad</b> means -  A tribute to native genius, and lateral thinking. It means where there's a will, there's a way. In a sense, it means innovation the frugal way. But, as a paradigm we have forgotten something that was integrated in our DNA, we have lost the essence of jugaad, the essence of innovation in terms of how we do business. 
</br></br>We pondered, Can we <b>help</b> other people do business by sourcing <i>jugaadu</i> ideas? We want to help corporations, governments, organizations and individuals solve their problems, <b>the Indian way</b>? </p>
        
      </div>
      <br>
      <br>
      <br>  
    </div><!-- /container -->
  </div>  


  <section id="join" name="join"></section>
  <div id="footerwrap">
    <div class="container">
      <div class="col-lg-5">
        <h3>Reach us at</h3>
        <p>
        hello@ideabata.com 
        </p>
      </div>
      
      <!-- <div class="col-lg-7">
        <h3>Join the list for Beta & get privileges at launch.</h3>
        <br>
        <form role="form" action="register.php" name="beta" method="POST" class="form-inline"> 
          <div class="form-group">
         
            <input type="email" name="email" class="form-control" style="width: 400px" id="email" placeholder="Your email" required>
          </div>
          
         
          <button type="submit" class="btn btn-large btn-success">Oh, Yes! I love privileges.</button>
        </form>
      </div> -->
    </div>
  </div>
  <div id="c">
    <div class="container">
      <p>Made with love in India</p>
    
    </div>
  </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
  <script>
  $('.carousel').carousel({
    interval: 3500
  })
  </script>

