body {background-color: #fafafa; 
		-webkit-font-smoothing: antialiased;
    	-webkit-overflow-scrolling: touch;}


.centered {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#headerwrap {
	
    background-color:  #34495E;
	margin-top: -70px;
	font-family: "Raleway";
    font-weight: 300;
}

#headerwrap h1 {
	margin-top: 70px;
	color: white;
	font-size: 80px;
	font-family: "Grand Hotel";
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
	
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
	
    
}

#headerwrap p {
	text-align: left;
	color: white;
	
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
	font-family: "Raleway";
    font-weight: 300;
  background-color: #f3f3f3;

}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Raleway";
    font-weight: 300;
  background-color: #f3f3f3;

}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Raleway";
    font-weight: 300;
}

#showcase h1 {
	color: white;
}
#showcase p {
    color: white;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
	font-family: "Raleway";
    font-weight: 300;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

