<ul><h4>
<li> New makeover. Refreshed.</li></br>
<li>Notifications - <small>Check your notifications.</small></li></br>
<li>Edit Profile - <small>Now, you can <%= link_to "edit your profile",edit_user_path(current_user) %>.</small></li></br>
<li>Credits - <small>Earn <%= link_to "credits", credits_path %> and get rewards.</small></li>
</h4>
</ul>