<ul><h4>
<li>Email confirmations and forgot password. <small>- 28th May '15</small></li></br>
<li>New makeover. Refreshed. <small>- 26th May '15</small></li></br>
<li>Follow User - <small>Now you can follow/unfollow other users.</small></li></br>

<li>Update Avatar </li></br>
<li>My Activites</li></br>
<li>Notifications</li></br>
<li>Edit Profile</li></br>
<li>Credits</li>
</h4>
</ul>