<ul><h4>
<li>New makeover. Refreshed. <small>- 26th May '15</small></li></br>
<li>Follow User - <small>Now you can follow/unfollow other users.</small></li></br>

<li>Update Avatar - <small>Now, you can <%= link_to "upload your profile picture",edit_user_path(current_user) %>.</small></li></br>
<li>My Activites - <small>Now, you can <%= link_to "view your answers and upvotes",myactivity_path%>.</small></li></br>
<li>Notifications - <small>Check your notifications.</small></li></br>
<li>Edit Profile - <small>Now, you can <%= link_to "edit your profile",edit_user_path(current_user) %>.</small></li></br>
<li>Credits - <small>Earn <%= link_to "credits", credits_path %> and get rewards.</small></li>
</h4>
</ul>